<div class="config">
  <div class="control-wrap">
    <p>Speed: {{$ctrl.configData.speed}}</p>
      <input
        type="range"
        min="0"
        max="11"
        step="0.1"
        value="$ctrl.configData.speed"
        ng-model="$ctrl.configData.speed"
        onChange="" />
  </div>
  <div class="control-wrap">
    <p>Acceleration: {{$ctrl.configData.accelMod}}</p>
      <input
        type="range"
        min="0"
        max="3"
        step="0.1"
        value="$ctrl.configData.accelMod"
        ng-model="$ctrl.configData.accelMod"
        onChange={this.handleAccelChange.bind(this)} />
  </div>
</div>
